.mondongo0
{
    width: 100%;
    background-color: rgb(120, 215, 255);
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0e0421;
}
.mondongo1
{
    width: 100%;
    background-color: rgb(120, 215, 255);
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0e0421;
}
.mondongo2
{
    width: 100%;
    height: 1000px;
    background-color: rgb(120, 215, 255);
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0e0421;
}
.mondongo3
{
    width: 100%;
    height: 1000px;
    background-color: rgb(120, 215, 255);
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0e0421;
}
.title
{
    width: 100%;
    background-color: rgb(3, 39, 105);
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #faffff;
}
.pie
{
    width: 100%;
    height: 80px;
    background-color: rgb(3, 39, 105);
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #faffff;
}
.btc
{
    background-color: rgb(3, 39, 105);
    border: 10px;
    padding: 15px 32px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btc:hover
{
    background-color: rgb(12, 11, 66);
}
.link
{
    color: #78d7ff;
}
.black
{
    background-color: rgb(5, 9, 20);
}